.dashboard-container{
  width: 1440px;
  height: 1086px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
  }

.dashboard-body{
 width: 1440px;
 height: 1022px;
display: flex;
align-content: center;
flex-direction: row;

}
.Main-component{
  width: 1128px;
height: 1022px;
background: navy;
}

